.space_crew {
   background-image: url("../assets/crew/background-crew-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   width: 100%;
   position: absolute;
   top: 0;
   padding-bottom: 17em;

   @include point-up(medium) {
      bottom: initial;
      background-image: url("../assets/crew/background-crew-tablet.jpg");
      padding-bottom: 0;
   }

   @include point-up(large) {
      padding-top: 2.5em;
      background-image: url("../assets/crew/background-crew-desktop.jpg");
      padding-bottom: 0;
   }
}

.crew {
   display: flex;
   align-items: center;
   flex-direction: column;
   padding: 5.5em 1.5em 1.5em 1.5em;

   @include point-up(medium) {
      padding: 8.5em 2.375em 0 2.375em;
   }

   @include point-up(xlarge) {
      padding: 10.75em 8.5625em 0 10.375em;
   }

   &_content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      @include point-up(medium) {
         padding-top: 3.75em;
         flex-direction: column-reverse;
         align-items: center;
         gap: 8em;
      }

      @include point-up(xlarge) {
         padding-top: 0;
         flex-direction: row-reverse;
      }
   }

   &_img {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding-block: 2rem;

      @include point-up(medium) {
         padding-top: 2.5em;
         padding-bottom: 0;
      }

      @include point-up(large) {
         padding-top: 0;
      }

      img {
         height: 223px;

         @include point-up(medium) {
            height: 572px;
         }

         @include point-up(large) {
            height: 712px;
         }
      }

      .line {
         width: 100%;
         height: 1px;
         background-color: $color-light;

         @include point-up(medium) {
            display: none;
         }
      }
   }

   &_descr {
      @include point-up(medium) {
         width: 460px;
         display: flex;
         justify-content: center;
         flex-direction: column-reverse;
         gap: 2.5em;
      }

      @include point-up(large) {
         width: 600px;
      }

      @include point-up(xlarge) {
         justify-content: center;
         width: 540px;
         flex: 1;
         gap: 120px;
      }
   }

   &_nav {
      display: flex;
      justify-content: center;
      gap: 1em;

      @include point-up(xlarge) {
         justify-content: flex-start;
      }

      div {
         width: 10px;
         height: 10px;
         background-color: $color-light;
         border-radius: 50%;
         cursor: pointer;
         transition: background-color 0.5s ease-in-out;

         &:hover {
            background-color: $color-hover;
         }

         &.active {
            background-color: $color-white;
         }
      }
   }

   &_details {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 2em;

      @include point-up(medium) {
         padding-top: 0;
      }

      @include point-up(xlarge) {
         align-items: flex-start;
      }
   }

   &_role {
      font-family: $font-head;
      font-size: 1rem;
      color: $color-light;
      text-transform: uppercase;

      @include point-up(medium) {
         font-size: 1.5rem;
      }

      @include point-up(large) {
         font-size: 2rem;
      }
   }

   &_name {
      font-family: $font-head;
      font-size: 1.5rem;
      color: $color-white;
      text-transform: uppercase;
      padding-top: 0.5em;
      padding-bottom: 0.75em;
      text-align: center;
      @include point-up(medium) {
         font-size: 2.5rem;
      }

      @include point-up(large) {
         font-size: 3.5rem;
      }

      @include point-up(xlarge) {
         text-align: left;
      }
   }

   &_bio {
      text-align: center;
      @include point-up(medium) {
      }

      @include point-up(xlarge) {
         text-align: left;
         width: 440px;
      }
   }
}
