.navbar {
   position: relative;
   width: 100%;
   height: 96px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 1.5em;
   z-index: 2;

   @include point-up(medium) {
      padding: 0 0 0 2.4375em;
   }

   &_links {
      display: none;

      @include point-up(medium) {
         display: flex;
         gap: 2.25em;
         background-color: rgba(255, 255, 255, 0.2);
         backdrop-filter: blur(9.5px);
         padding: 2.4375em 2.875em 2.4375em 3em;
      }

      @include point-up(large) {
         gap: 3em;
         padding: 2.4375em 8.4375em 2.4375em 5.8125em;
      }

      @include point-up(xlarge) {
         gap: 3em;
         padding: 2.4375em 10.3125em 2.4375em 7.6875em;
      }

      a {
         position: relative;
         display: flex;
         font-weight: 400;
         color: $color-white;

         @include point-up(medium) {
            font-size: 0.875rem;
         }

         &::before {
            content: "";
            position: absolute;
            width: 36px;
            height: 3px;
            top: 52px;
            left: 0px;
            background-color: $color-light;
            transition: transform 0.3s ease-in-out;
            transform: scale(0);

            @include point-up(xlarge) {
               width: 70px;
            }
         }

         &.active {
            &::before {
               background-color: $color-white;
               transform: scale(1);
            }
         }

         &:hover {
            &::before {
               transform: scale(1);
            }
         }

         &:nth-child(2n) {
            &::before {
               width: 87px;

               @include point-up(xlarge) {
                  width: 127px;
               }
            }
         }
      }

      span {
         display: none;

         @include point-up(xlarge) {
            display: flex;
            margin-right: 12px;
            font-weight: 700;
         }
      }
      @media screen and (max-width: 550px) {
         padding-inline: 1rem;
      }
   }

   &_line {
      display: none;

      @media screen and (min-width: 1025px) {
         display: block;
         left: 125px;
         position: absolute;
         width: 345px;
         height: 1px;
         background-color: $color-white;
         z-index: 2;
      }
      @media screen and (min-width: 1100px) {
         width: 430px;
      }

      @include point-up(xlarge) {
         left: 160px;
         width: 340px;
      }

      @media screen and (min-width: 1300px) {
         left: 180px;
         width: 450px;
      }
   }

   &_ham {
      cursor: pointer;
      @include point-up(medium) {
         display: none;
      }
   }
}
